/* 
    Created on : 23-mar-2016, 15.29.01
    Author     : luca c
*/

#header , #footer {
    color: white !important ;
}
h1,h2,h3,h4,h5,h6 {
    color: #1c345a ;
}
#logo {
    background-color: #1c345a ;
}
body {
    font-size: 14px;
    font-family: "Open Sans", Arial , sans-serif ;
    color: black ;
}
.current_page_item {
    font-weight: bold ;
}

div#content h2 {
    color: #9e1616 ;
}
a {
    color: #9e1616 ;
}
a:hover {
    font-weight: bold ;
}

a[rel="studente_esami.html"] {
    color: #1c345a ;
}